@import url('https://fonts.googleapis.com/css?family=Roboto:Medium');

body {
  font-family: 'Roboto', sans-serif;
  color: #EEEEEE;
}

img.bg-image {
  position: fixed;
  top: 0;
  left: 0;

  height: 1000px;
  width: auto;

  min-width: 100%;
  min-height: 100%;

  z-index: -1;
}

.content-position {
  margin-top: 180px;
  margin-left: 40px;
  max-width: 400px;
}

.icon-list {
  margin: 0 0 0 0;
  font-size: 1.7em;
}

a:link, a:visited {
  color: inherit;
}

.bullet-block {
  margin-top: 35px;
}
