@import url('https://fonts.googleapis.com/css?family=Muli:Extra-Light');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');

body {
  font-family: 'Muli', sans-serif;
  color: #60605a;
  background-color: #fcfa7b;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

.content-position {
  margin-top: 180px;
  margin-left: 40px;
  max-width: 400px;
}

.icon-list {
  margin: 0 0 0 0;
  font-size: 1.7em;
}

a:link, a:visited {
  color: inherit;
}
