extends layout

block append head
  title Spencer Brown

block content
  .content-position
    .icon-list
      a(href='https://github.com/spencer-brown', target='blank')
        i.fa.fa-github-square
      | &nbsp;&nbsp;
      a(href='https://facebook.com/nworbrecneps', target='blank')
        i.fa.fa-facebook-square
      | &nbsp;&nbsp;
      a(href='https://linkedin.com/in/spencercbrown', target='blank')
        i.fa.fa-linkedin-square
      | &nbsp;&nbsp;
      a(href='https://twitter.com/nworbrecneps', target='blank')
        i.fa.fa-twitter-square
      | &nbsp;&nbsp;
      a(href='mailto:me@spencer.sx')
        i.fa.fa-envelope-square
    p I spend most of my time&nbsp;
      a(href='https://github.com/spencer-brown', target='blank') writing software
      | .
    p I'm currently a Software Engineer at&nbsp;
      a(href='https://mixmax.com') Mixmax
      | .
    p I also like&nbsp;
      a(href='https://soundcloud.com/kingslybeats', target='blank') DJing
      | ,&nbsp;
      a(href='/images/backpacking.jpg', target='blank') backpacking
      |, and&nbsp;
      a(href='https://www.goodreads.com/user/show/5547781-spencer-brown', target='blank') reading
      | .

    .bullet-block
      h3 Recent Projects
      ul
        li
          a(href='http://pley.usb.cs.purdue.edu') Pley
          | &nbsp;- a free, Kubernetes-based web hosting service for Purdue students. I learned a ton about Linux and networking through this project.
        li
          a(href='https://github.com/spencer-brown/contact-bump') Contact Bump
          | &nbsp;- a fairly basic Node app that was primarily an exercise in learning and comparing the alternatives for each component of a modern JavaScript stack. It has since served as a foundation for other JavaScript projects.

    .bullet-block
      h3 Writing
      ul
        each post in posts
          li
            a(href="/posts/" + post.slug)= post.metadata.title
