extends layout

block content
  img.bg-image(src="images/bg.jpg")

  .content
    h1 Spencer Brown
    p.icon-list
      a(href='https://github.com/spencer-brown', target='blank')
        i.fa.fa-github-square
      | &nbsp;&nbsp;
      a(href='https://facebook.com/nworbrecneps', target='blank')
        i.fa.fa-facebook-square
      | &nbsp;&nbsp;
      a(href='https://linkedin.com/in/spencercbrown', target='blank')
        i.fa.fa-linkedin-square
      | &nbsp;&nbsp;
      a(href='https://twitter.com/nworbrecneps', target='blank')
        i.fa.fa-twitter-square
      | &nbsp;&nbsp;
      a(href='mailto:me@spencer.sx')
        i.fa.fa-envelope-square
    .bio
      p Aloha.
      p I'm currently a Software Engineer at&nbsp;
        a(href='https://mixmax.com', target='blank') Mixmax
        | &nbsp;where I work across the stack to help build the future of business communications.
      p When I'm not at work, you can problably find me&nbsp;
        a(href='https://soundcloud.com/kingslybeats', target='blank') DJing
        | ,&nbsp;exploring San Francisco, or trying something new outdoors.
      p Self-hosted blog coming soon. In the meantime, here's my&nbsp;
        a(href='https://medium.com/@spence', target='blank')
          i.fa.fa-medium
        | &nbsp;where I've written about hackathons and documented some of my reflections.
