extends layout

block content
  img.bg-image(src="images/bg.jpg")

  .content-position
    .icon-list
      a(href='https://github.com/spencer-brown', target='blank')
        i.fa.fa-github-square
      | &nbsp;&nbsp;
      a(href='https://facebook.com/nworbrecneps', target='blank')
        i.fa.fa-facebook-square
      | &nbsp;&nbsp;
      a(href='https://linkedin.com/in/spencercbrown', target='blank')
        i.fa.fa-linkedin-square
      | &nbsp;&nbsp;
      a(href='https://twitter.com/nworbrecneps', target='blank')
        i.fa.fa-twitter-square
      | &nbsp;&nbsp;
      a(href='mailto:me@spencer.sx')
        i.fa.fa-envelope-square
    p I spend most of my time&nbsp;
      a(href='https://github.com/spencer-brown', target='blank') writing software
      | .
    p I also like&nbsp;
      a(href='https://soundcloud.com/kingslybeats', target='blank') DJing
      | ,&nbsp;
      a(href='/images/backpacking.jpg', target='blank') backpacking
      |, and&nbsp;
      a(href='https://www.goodreads.com/user/show/5547781-spencer-brown', target='blank') reading
      | .
    p Check out my most recent project,&nbsp;
      a(href='http://pley.usb.cs.purdue.edu') Pley
      | .
