extends layout

block append head
  title Spencer Brown

block content
  .content-position
    h1 Spencer Brown
    p I spend most of my time&nbsp;
      a(href='https://github.com/spencer-brown', target='blank') writing software
      | .
    p I'm currently a Software Engineer at&nbsp;
      a(href='https://mixmax.com', target='blank') Mixmax
      | .
    p I also like&nbsp;
      a(href='https://soundcloud.com/kingslybeats', target='blank') DJing
      | ,&nbsp;
      a(href='/images/backpacking.jpg', target='blank') backpacking
      |, and&nbsp;
      a(href='https://www.goodreads.com/user/show/5547781-spencer-brown', target='blank') reading
      | .

    hr

    h3 Thoughts
    each post in posts
      p
        span.date= post.metadata.date
        | &nbsp;»&nbsp;
        a(href="/posts/" + post.slug)= post.metadata.title

    hr

    .icon-list
      a(href='https://github.com/spencer-brown', target='blank')
        i.fa.fa-github-square
      | &nbsp;&nbsp;
      a(href='https://linkedin.com/in/spencercbrown', target='blank')
        i.fa.fa-linkedin-square
      | &nbsp;&nbsp;
      a(href='mailto:me@spencer.sx')
        i.fa.fa-envelope-square
